[Unit]
Description=Changes thinkfan configuration
Wants=thinkfan.service
After=thinkfan.service

[Service]
ExecStart=/usr/bin/thinkfanconf

[Install]
WantedBy=multi-user.target
