YOU FM;http://metafiles.gl-systemhaus.de/hr/youfm_2.m3u
STAR FM NUERNBERG;http://91.250.82.237:8004/
JAM FM;http://stream.hoerradar.de/jamfm-mp3-192
BASSDRIVE;http://shouthost.com.18.streams.bassdrive.com:8398
JAZZ RADIO BERLIN;https://streaming.radio.co/s774887f7b/listen
KISS FM BERLIN;http://stream.kissfm.de/kissfm/mp3-128/internetradio/
LOUNGE 44;http://streaming.radionomy.com/Lounge44
RPM RADIO;http://streamplus13.leonex.de:18412/
STAR FM BERLIN;http://85.25.209.152:8000/